{% block setup %}
{{ '{"other": {"margin-top": "0", "margin-left": "25","margin-right": "20", "margin-bottom": "0" }}' }}
{% endblock %}
{% block header %}
<!DOCTYPE html>
<html lang="de">

<head>
    <title></title>
    <style>
    </style>
</head>

<body>
</body>

</html>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <title>Invoice</title>
    <style>
        * {
            overflow: hidden;
        }

        html {
            font-family: "TeX Gyre Heros", serif;

        }

        body {
            line-height: 1;
        }

        .top_main {
            width: 100%;
            position: relative;
            height: 38mm;
        }

        .section_top_left {
            position: absolute;
            width: 55%;
        }

        .section_top_right {
            background-color: #8f8989;
            position: absolute;
            right: 1mm;
            height: 38mm;
            border-radius: 2mm;
        }

        .class_sauerland {
            padding-top: 5mm;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
        }

        .section_top_right_details {
            margin-left: 10px;
            font-size: 18px;
        }

        .section_top_right_icons {
            color: green;
        }

        .positions {
            border-spacing: 0;
            width: 100%;
        }

        .positions tr {
            padding-bottom: 1cm;
        }

        .positions th,
        .positions td {
            padding: 1mm;
            vertical-align: middle;
            border: 1px solid black;
        }

        .min-td {
            width: auto;
            white-space: nowrap;
        }

        .text-right {
            text-align: right;
        }

        .text-left {
            text-align: left;
        }

        table .border-none {
            border: none;
            text-align: left;
        }
    </style>
</head>

<body>
    <section class="top_main">
        <section class="section_top_left"></section>
        <section class="section_top_right">
            <div class="class_sauerland">Bwa Sauerland gmbh </div>
            <div class="section_top_right_details">
                <span class="section_top_right_icons" style="font-size:16px">&#127760</span> Peter-Dassis-Ring 40a,
                57482 Wenden
                <br />
                <span class="section_top_right_icons" style="font-size:16px">&#128222</span> 02762-98 19 499
                <br />
                <span class="section_top_right_icons" style="font-size:20px"> &#x2709</span> info@bwa-sauerland.de
        </section>
    </section>
    <hr />

    <section class="section_content">
        <section class="section_content_invoice">
            <section class="table-responsive" style="overflow-x: auto; border-collapse: collapse;">
                <table class="positions" style="border-collapse: collapse;">
                    <tbody>
                        <tr class="position-row">
                            <td class="border-none" style="vertical-align: top;">
                                {{resource.customer.name }} <br>
                                {{resource.customer.invoice_address_line_1}}<br>
                                {{resource.customer.invoice_address_line_2}}<br>
                                {{resource.customer.invoice_street}} <br>
                                {{resource.customer.invoice_city}} {{resource.customer.invoice_zip}}
                            </td>
                            <td class="border-none" style="vertical-align: top; width:40%;">
                                {{t('pdf.invoice.customer_id')}} : {{resource.customer.id}}<br>
                                {{t('pdf.invoice.project_number')}}:{{resource.project.project_number}}<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <br>
            <section>
                <b> {{t('pdf.invoice.invoice_number')}}: <br>
                    {{resource.invoice_number}} </b>
            </section>
        </section>
    </section>
    <section style="height:5mm"></section>
    <section class="table-responsive" style="overflow-x: auto; border-collapse: collapse;">
        <table class="positions" style="border-collapse: collapse;">
            <thead>
                <tr class="positions-head" style="width: 100%;">
                    <th style="text-align: left" padding: 0 10px 0 10px;">{{t('pdf.invoice.service')}}</th>
                    <th style="text-align: left; padding: 0 10px 0 10px;">{{t('pdf.invoice.description')}}</th>
                    <th style="padding: 0 10px 0 10px;">{{t('pdf.invoice.single_price')}}</th>
                    <th style="padding: 0 10px 0 10px;">{{t('pdf.invoice.quantity')}}</th>
                    <th style="padding: 0 10px 0 10px;">{{t('pdf.invoice.price_total')}}</th>
                </tr>
            </thead>
            <tbody>
                {% if resource.positions %}
                {% for key, position in resource.positions %}
                <tr class="position-row">
                    <td class="" style="text-align: left; ">{{ position.service.name ?? "" }} </td>
                    <td class="" style="text-align: left;">{{ position.description ?? "" }}</td>
                    <td class="" style="text-align: right;">{{ position.single_price ?? "" }} &#8364</td>
                    <td class="" style="text-align: right;">{{ position.quantity ?? "" }}</td>
                    <td class="" style="text-align: right;">{{ position.total_price ?? "" }}&#8364</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </section>
    <section>
        <div style="float: right;">
            <table>
                <tr>
                    <td style="padding-right: 0.5cm;">{{t('pdf.invoice.price_net')}}</td>
                    <td style="text-align: right;">{{resource.price_net}}&#8364</td>
                </tr>
                <tr>
                    <td style="padding-right: 0.5cm;">{{t('pdf.invoice.taxrate')}}({{ resource.taxrate }}%)</td>
                    <td style="text-align: right;">{{resource.tax_amount}} &#8364</td>
                </tr>
                <tr>
                    <td style="padding-right: 0.5cm;"><b>{{t('pdf.invoice.price_total')}}</b></td>
                    <td style="text-align: right;"><b>{{resource.price_total}} &#8364</b></td>
                </tr>
            </table>
        </div>
    </section>
    <section class="section_content_location" style="clear: both;">
        <p style="font-weight:bold;">{{t('pdf.offer.para4')}}</p>
    </section>
</body>

</html>
{% endblock %}

{% block footer %}
<!DOCTYPE html>
<html lang="de">

<head>
    <title></title>
    <style></style>
</head>

<body>
</body>

</html>
{%endblock%}