{% block setup %}
    {{ '{"other": {"margin-top": "5", "margin-left": "5","margin-right": "5", "margin-bottom": "5" }}' }}
{% endblock %}
{% block header %}
    <!DOCTYPE html>
    <html lang="de">
    <head>
        <title></title>
        <style>
 
        </style>
    </head>
    <body>
 
    </section>
    </body>
    </html>
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Offer</title>
    <style>
      html {
        font-family: "TeX Gyre Heros", serif;
       
      }
      body {
        margin-left: 10mm;
        margin-right: 10mm;
      }
      .top_main {
        width: 100%;
        position: relative;
        height: 38mm;
      }
      .section_top_left {
        position: absolute;
        width: 55%;
      }
      .section_top_right {
        background-color: #8f8989;
        position: absolute;
        right: 1mm;
        height: 38mm;
        border-radius:2mm;

      }
      .class_sauerland{
        padding-top:5mm;
        font-size:20px;
        text-align:center;
         text-transform: uppercase;
      }
      .section_top_right_details{
        margin-left:10px;
        font-size:18px;
      }
      .section_top_right_icons{
        color:green;
  
      }
      .section_content_offer{
        width:100%;
        position:relative;
        height:50mm;
       
      }
       .section_content_left{
        position:absolute;
        width:auto;
        height:42mm;

      }
      .section_content_right{
        position:absolute;
        right:16mm;
        height:42mm;
        margin-top:-43.5mm;

      }
     .section_content_orderdate{
      width:100%;
      position:relative;
      
     }
      
      .positions {
        border-spacing: 0;
        width: 100%;
      }

      .positions th,
      .positions td {
        padding: 1mm;
        vertical-align: middle;
        border: 1px solid black;
      }
      .min-td {
        width: auto;
        white-space: nowrap;
      }

      .text-right {
        text-align: right;
      }

      .text-left {
        text-align: left;
      }
      .section_content_location{
        bottom:10mm;
      }
    </style>
  </head>

  <body>
    <section class="top_main">
      <section class="section_top_left"></section>
      <section class="section_top_right">
        <div class="class_sauerland">Bwa Sauerland gmbh </div>
        <div class="section_top_right_details">
        <span class="section_top_right_icons" style="font-size:16px">&#127760</span> Peter-Dassis-Ring 40a, 57482 Wenden
        <br />
        <span class="section_top_right_icons" style="font-size:16px">&#128222</span> 02762-98 19 499
        <br />
        <span class="section_top_right_icons"style="font-size:20px" > &#x2709</span> info@bwa-sauerland.de
      </section>
    </section>
    <hr />
    <section class="section_content">
    <section class="section_content_offer">
      <b>Angebot/Auftrag</b> <br />
      <section class="section_content_left">
        <b> Kundenanschrift: </b>
        <br />
        Name: {{resource.customer.name}} meenkeeee e Vorname: {{resource.customer.name}} 
        <br>
        StraBe: {{resource.customer.invoice_city}} Hausnummber:
        {{resource.customer.invoice_city}}
        <br />
        PLZ: {{resource.customer.invoice_zip}}
        Ort: {{resource.customer.invoice_zip}}
        <br />
        Festnetz: {{resource.customer.invoice_zip}}
        Mobil: {{resource.customer.phone_mobile}}
        <br />
        E-Mail: {{resource.customer.email}}
      </section>
      </section>
      <section class="section_content_right">
      <b>Liegenschaft:</b>
      <br>
       Name: {{resource.customer.name}} Vorname: {{resource.customer.name}}
        <br>
        StraBe: {{resource.customer.invoice_city}} Hausnummber: 
        {{resource.customer.invoice_city}}
        <br />
        PLZ: {{resource.customer.invoice_zip}}
        Ort: {{resource.customer.invoice_zip}}
      </section>
    </section>
       <section class="section_content_orderdate">
       <b>Auftragsdaten</b>
       <br>
       <p>Welches Problem liegt vor? Horizontale Feuchte <b>{{resource.level}}</b> Flachen Feuchte___  Schimmel __  Raumtemperatur: <b>{{resource.room_temperature}}</b> Luftfeuchte: <b>{{resource.room_humidity}}</b>  Oberflachentemperatur: <b>{{resource.surface_temperature}}</b> Baujahr: <b>{{resource.construction_year}}</b> Wandbaustoff: <b>{{resource.wall_material}}</b>  Wandstarke: <b>{{resource.wall_thickness}}</b> Bauart: <b>{{resource.building_type}}</b> EFH___ DHH____ RH ___ MFH____ Stockwerk: <b>{{resource.level}}</b> Bodenplatte: <b>{{resource.floor_material}}</b> Streifenfundament: <b>{{resource.strip_foundation}}</b> </p>
       <p>Wurden in der Vergangenheit schon mal Abdichtungen nachtraglich erstellt:{% if resource.seals_done_in_the_past == true %} <b>Yes</b>
            
            {%else%}
            <b>No</b>
{% endif %}
          </p>
       <b><u>Heirmit beauftrageich die  BWA Sauerland GmbH mit der Durchfuhrung folgender Arbeiten:</u><b>
   </section>
    <section style="height: 5mm;"></section>
   <section class="table-responsive" style="overflow-x: auto; border-collapse: collapse;">
        <table class="positions" style="border-collapse: collapse;">
            <thead>
                <tr class="positions-head" style="width: 100%;">
                    <th>Leistung</th>
                    <th>Beschreibung </th>
                    <th>Anzahl</th>
                    <th>Einzelpreis</th>
                    <th>Gesamtpreis</th>
                </tr>
            </thead>
            <tbody>
                 {% if resource.positions %}
                {% for  key, position in resource.positions %}
                <tr class="position-row">
                    <td class="" style="text-align: left;">{{ position.service.name ?? "" }} </td>
                    <td class="" style="text-align: left;">{{ position.description ?? "" }}</td>
                    <td class="" style="text-align: right;">{{ position.quantity ?? "" }}</td>
                    <td class="" style="text-align: right;">{{ position.single_price ?? "" }} &#8364</td>
                    <td class="" style="text-align: right;">{{ position.total_price ?? "" }}&#8364</td>
                </tr>
                {% endfor %}
                {% endif %}

            </tbody>
        </table>
    </section>
    <section>
    <p>
    Das o.g Angebot beinhaltet keinen Druckwasserschaden. Dieser wird separat pro Packer mit 120,00(brutto) berechnet. Eine Uberwanderung ist ebenfalls nicht enthalten. Hier muss ggf. die Horizontalsperre erganzt werden (auf eine doppellagige Horizontalsperre) oder sogar durch eine Flachensperre. Nach einer angemessenen Trocknungszeit,sollte der jetzt Salz belastete Putz durch einen geeigneten Putz ersetzt werden.
    </p>
    <p style="border:2px solid black; font-weight:bold" > Der Endpries errechnet sich nach AufmaB. Preis inkl. 19% MwStSumme: <span style="text-align:right;">{{resource.price_total}}</span> &#8364</p>
    </section>
    <section>
    </section class="section_content_location">
    <table class="positions" style="border-collapse: collapse;">
            <thead>
                <tr class="" style="width: 100%; margin-bottom:10px">
                    <th style="width:50%;text-align:left" >Ort:  </th>
                    <th style="width: 50%;text-align:left">den, </th>
                </tr>
            </thead>
            <tbody>
                <tr class="position-row">
                    <td class="">
                    {{resource.customer.invoice_city}}
                    <br>
                    {{resource.customer.invoice_zip}} 
                    </td>
                    <td class="" style=""margin-top:0;>{{resource.customer.name}}</td>
                </tr>

            </tbody>
        </table>
<section>
  </body>
</html>


{% endblock %}

{% block footer %}
 <!DOCTYPE html>
    <html lang="de">
    <head>
        <title></title>
        <style>

        </style>
    </head>
    <body>
    footer
    </body>
    </html>
{%endblock%}
